/* Custom CSS */
body {
  background-color: #fdfdfd;
  font-family: 'iABCRegularSC', Georgia, serif;
  border-top: solid black;
}

a {
  color: black;
}
a:hover {
  color: crimson;
  text-decoration: underline;
}

.button {
  margin: 8px;
  background-color: black;
  font-size: 1em; 
}

#logo {
	color: #000;
	font-size: 4.57143em;
	font-family: HelveticaNeue, Arial;
	font-weight: bold;
	text-decoration: none;
	line-height: 1em;
  padding-top: 60px;
}

.featured {
  font-family: 'iABCRegularSC', Georgia, serif;
  font-size: 1.25em;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

.section_separator {
  font-family: 'iABCRegularSC', Georgia, serif;
  position: relative;
  margin: 5em 0 2em;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  line-height: 1.14286em;
  text-align: center;
}
.section_separator a,
  .section_separator span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    z-index: 1;
    background-color: #fdfdfd;
    text-decoration: !important; 
}
.section_separator a:hover {
    text-decoration: underline;
    color: crimson; }
  
#contact {
  font-style: italic;
}

p a {
  text-decoration: underline !important;
}

.more_link {
	text-decoration: underline;
  font-size: 0.7em;
  font-weight: 500;
  font-family: 'iABCRegularSC', Georgia, serif;
  letter-spacing: 0.25px;
  line-height: 0.25em;
}

#blog_link {
  font-style: italic;
  font-size: 1.65em;
  font-family: 'iABCRegularSC', Georgia, serif;
  margin-bottom: 1em; 
}


#works-wrapper {
  margin-top: 3.04762em;
  margin-bottom: 3.04762em;
  font-family: 'iABCRegularSC', Georgia, serif; 
}

ul {
  list-style-type: none;
}
